<div class="navbar bg-base-100">
  <div class="flex-1">
  <%= link_to safe_join(['美は一日に', tag.br,'してならず']), root_path, class: 'btn btn-ghost' %>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">

      <%# ユーザーがログインしていない場合 %>
      <% unless user_signed_in? %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "ユーザー登録", new_user_registration_path %></li>
      <% end %>

      <%# ユーザーがログインしている場合 %>
      <% if user_signed_in? %>
        <li>
          <details>
            <summary>メニュー</summary>
            <ul class="bg-base-100 rounded-t-none p-'2">
              <li><%= link_to "投稿一覧", posts_path %></li>
              <li><%= link_to "新規投稿", new_post_path %></li>
              <li><%= link_to "これやる！リスト", bookmarks_posts_path %></li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path,
                            method: :delete,
                            data: { turbo_method: :delete } %>
              </li>
            </ul>
          </details>
        </li>
      <% end %>

    </ul>
  </div>
</div>
