<!DOCTYPE html>
<html lang="ja" data-theme="light">
<html>
  <head>
    <title>美なり</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
     <%= display_meta_tags(default_meta_tags) %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <%= render 'shared/header' %>
  <!-- フラッシュメッセージ表示 (application.html.erb) -->
<% flash.each do |key, message| %>
  <div class="alert alert-<%= key %> shadow-lg mb-4">
    <span><%= message %></span>
  </div>
<% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
